/*
 * Global Styles
 */

 body {
  background-color: #75BACC;
  font-family: "Coming Soon", cursive;
}

.header {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.footer, .jesus {
  display: flex;
  justify-content: center;
}

.marquee {
  font-size: 1.25rem;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0; /* Added margin to separate link items */
}

.links img {
  width: 9rem;
  margin: 2rem 4rem;
}

.link-item p {
  margin-top: -1.5rem; /* Adjust the spacing to bring text closer to the image */
  text-align: center;
  color: #333;
  font-size: 1.25rem;
}

@media (min-width: 760px) {
  .links {
    flex-direction: row;
  }

  .links img {
    width: 8rem;
  }
}
