/*
 * Global
 */


/*
 * Body
 */

body {
  /* height: 100%; */
  background-color: #75BACC;
  /* font-family: 'Itim', cursive;
  display: -ms-flexbox;
  display: flex; */
}

.header{
  font-family: 'Merriweather', serif;
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.jesus {
  display: flex;
  justify-content: center;
}

.links{
  display:list-item;
  justify-content: center;
}

.links img{
  width: 8rem;
  margin: 2rem 4rem;
}

@media (min-width: 760px) {
  .links img{ 
    width: 5rem;
  }
}

